<div class="px-4 py-4">
    <div class="row">
        <div class="col-lg-4 col-md-8 text-light">
            <h1>{{album.name}}</h1>
            <h4>
                By 
                {{#each album.artists }}
                    <a href="/artist/{{ this.id }}">{{ this.name }}</a>
                {{/each }}
            </h4>

            <div class="pt-4">
                <table class="table table-dark">
                    <tbody>
                        <tr>             
                            <td>Total Tracks: {{ album.total_tracks }}</td>
                        </tr>
                        {{#if album.genres }}
                            <tr>
                                <td>
                                    Genres: 
                                    {{#each album.genres }}
                                        <a href="/genre?search={{ this.name }}">{{ this.name }}</a>
                                    {{/each }}
                                </td>
                            </tr>
                        {{/if }}     
                        <tr>             
                            <td>Release Date: {{ album.release_date }}</td>
                        </tr>
                        <tr>             
                            <td>Popularity: {{ album.popularity }} %</td>
                        </tr>
                    </tbody>
                    </table>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 mb-4">
            <img 
                src="{{album.preview_img_lg}}"
                alt="{{album.name}}"
                style="width: 100%"
                draggable="false">
        </div>

        <div class="col-lg-4 mb-4">
            {{#each album.artists }}
            <div class="card bg-secondary">
                <img
                    src="{{ this.preview_img_md }}"
                    alt="{{ this.name }}"
                    class="card-img-top" 
                    draggable="false">
                <div class="card-body text-light">
                    <h5 class="card-title">{{ this.name }}</h5>
                    <p class="card-text">Popularity: {{ this.popularity }} %</p>
                    <p class="card-text">
                        Genres: <br/>
                        {{#each this.genres }}
                            <a
                                href="/genre/{{ this }}" 
                                class="badge badge-light">
                                {{ this }}
                            </a>
                        {{/each }}
                    </p>
                </div>
            </div>
            {{/each }}
        </div>

        <div class="col-lg-12">
            <h2 class="text-light mb-3">Album Songs</h2>
            {{#if album.tracks }}
                {{#each album.tracks }}                     
                    <a 
                        href="/song/{{ this.name }}"
                        class="btn btn-secondary mb-3 mr-3">
                        <i class="fas fa-music mr-2"></i>
                        {{ this.name }}
                    </a>
                {{/each }}
            {{/if }}
        </div>

    </div>
</div>